.env

Workspace/DhlAPI
Workspace/FedExAPI
/myenv
Workspace/server
Workspace/TrackingMore

Workspace/WebScraper/chromedriver.exe
Workspace/WebScraper/scraper.py

Workspace/Shippo/Labels/nRate.py
Workspace/Shippo/Tracking

Workspace/AmazonAPI

Workspace/Translation/translationLibre.py
Workspace/Translation/translationLingva.py

Workspace/Gmail/sendGmail.py
Workspace/Gmail/testGmailAPI.py
Workspace/Gmail/credentials.json
Workspace/Gmail/token.json
Workspace/Gmail/__pycache__

Workspace/AiModel

/extras
.vscode